@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200&display=swap');

body{
    background-color: rgb(103, 23, 139);
}
.col{
    background-color: rgb(16, 173, 173);
    font-family: 'Yaldevi', sans-serif;
    color: rgb(16, 173, 173);
}
.container{
    margin-top:20px;
    border-radius: 15px;
}